body {
  background-color: #518cca;
  color: #000000;
}

a {
  color: #e23636;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-card {
  height: 160px;
}

@media (max-width: 480px) {
  .hero-overlay-card {
    left: calc(50% - 260px);
    margin: 10vh;
    width: 95%;
  }
  .hero-img {
    width: 100%;
    height: 40%;
  }
}

@media (min-width: 1080px) {
  .hero-overlay-card {
    left: calc(50% - 260px);
    margin: 10vh;
    width: 380px;
  }
  
  .hero-img {
    width: 340px;
    height: 260px;
  }
}

.hero-name {
  padding-top: 4px
}
