body {
  background-color: #518cca;
  color: #000000;
}

a {
  color: #e23636;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-card {
  height: 160px;
}

.hero-overlay-card {
  left: calc(50% - 260px);
  margin: 10vh;
  width: 380px;
}
